<ion-content [fullscreen]="true">

  <div class="ion-text-center ion-padding">
    <ion-text color="info">
      {{ 'pages.home.title' | translate }}
    </ion-text>
  </div>

  <ng-container *ngFor="let card of cards; let index = index">
    <div class="ion-activatable ripple-parent">
      <ion-card [routerLink]="['/target', card.target]" [color]="card.color">
        <ion-card-header>
          <ion-card-title class="ion-align-items-center">
            <ion-icon [name]="card.icon"></ion-icon>
            {{ card.title | translate }}
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{ card.content | translate }}
        </ion-card-content>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
    </div>
  </ng-container>

  <div class="ion-text-center ion-padding">
    <ion-text color="medium">
      {{ 'author.contact.email.label' | translate }}
    </ion-text>
    <ion-text>
      <a [href]="'mailto:' + ('author.contact.email.value' | translate)">{{ 'author.contact.email.value' | translate }}</a>
    </ion-text>
  </div>

</ion-content>
