<ion-content [fullscreen]="true">

  <ng-container *ngFor="let card of cards; let index = index">
    <div class="ion-activatable ripple-parent">
      <ion-card [routerLink]="['/target', (card.target | translate)]">
        <ion-card-header>
          <ion-card-title [ngSwitch]="index">

            <ng-container *ngSwitchCase="0">
              <ion-icon name="sad-outline"></ion-icon>
            </ng-container>
            <ng-container *ngSwitchCase="1">
              <ion-icon name="megaphone-outline"></ion-icon>
            </ng-container>
            {{ card.title | translate }}
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{ card.content | translate }}
        </ion-card-content>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
    </div>
  </ng-container>

  <div class="ion-text-center ion-padding">
    <ion-text color="medium">
      {{ 'author.contact.email.label' | translate }}
    </ion-text>
    <ion-text>
      <a [href]="'mailto:' + ('author.contact.email.value' | translate)">{{ 'author.contact.email.value' | translate }}</a>
    </ion-text>
  </div>

</ion-content>
