<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngFor="let card of cards">
    <div class="ion-activatable ripple-parent">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{ card.subtitle | translate }}</ion-card-subtitle>
          <ion-card-title>{{ card.title | translate }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{ card.content | translate }}
        </ion-card-content>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
    </div>
  </ng-container>

</ion-content>
